*.aux
*.bak
*.log
*.ind
*.lot
book.lot
book.idx
book.ind
book.toc
book.ilg
bu1.blg
book.bbl
bu*.bbl
bu*.blg
book.tdo
book.out
book.nlo
book.nls
book.blg
*.idx
*.ilg
*.lof
*.nlo
*.nls
*.out
*.pdf
*.toc
solns_temp.tex
*.swp
*.sqo
